<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PVR1T Variable Displacement Vane Pump</title>
    <link href="../static/css/style1.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="/indexSection"><img src="../static/images/logo1-removebg-preview.png"></a></div>
            <input type="radio" name="slider" id="menu-btn">
            <input type="radio" name="slider" id="close-btn">
            <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li><a href="/index">Home</a></li>
                <li>
                    <a href="/about" class="desktop-item">Company</a>
                    <input type="checkbox" id="showMega">
                    <label for="showMega" class="mobile-item">Company</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="../static/images/compasny-he (1).jpeg"  alt="">
                            </div>
                            <div class="row">
                                <header>Who we are</header>
                                <ul class="mega-links">
                                    <li><a href="/abtStrategy">Strategy & Purpose</a></li>
                                    <li><a href="#">Officers</a></li>
                                    <li><a href="/abtHistory">History</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="/abtProducts">Brands</a></li>
                                    <li><a href="#">Code of Conduct</a></li>
                                    <li><a href="/abtLocation">Global Locations</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <header>Building Better</header>
                                <ul class="mega-links">
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">Innovation</a></li>
                                    <li><a href="#">Foundation</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/pro" class="desktop-item">Products</a>
                    <input type="checkbox" id="showMega">
                    <label for="showMega" class="mobile-item">Products</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="../static/images/product-head.jpeg" alt="">
                            </div>
                            <div class="row">
                                <!-- <header>Design Services</header> -->
                                <ul class="mega-links">
                                    <li><a href="/product1">Hydraulic Pumps</a></li>
                                    <li><a href="/product2">Valves</a></li>
                                    <li><a href="/product3">Power Packs</a></li>
                                    <li><a href="/product4">Fittings</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <!-- <header>Email Services</header> -->
                                <ul class="mega-links">
                                    <li><a href="/product5">Intersial valves</a></li>
                                    <li><a href="/product6">Control Works</a></li>
                                    <li><a href="/product7">Activation</a></li>
                                    <li><a href="/product8">Directional control</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <!-- <header>Security services</header> -->
                                <ul class="mega-links">
                                    <li><a href="/product9">Throttle valve</a></li>
                                    <li><a href="/product10">PVR1T Variable</a></li>
                                    <li><a href="/product11">HPV43 Double</a></li>
                                    <li><a href="/product12">Cartridge Valve</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/indus" class="desktop-item">Industries</a>
                    <input type="checkbox" id="showDrop">
                    <label for="showDrop" class="mobile-item">Industries</label>
                    <ul class="drop-menu">
                        <li><a href="/indus">Power</a></li>
                        <li><a href="/indus">Steel</a></li>
                        <li><a href="/indus">Plastic</a></li>
                        <li><a href="/indus">Construction</a></li>
                        <li><a href="/indus">Mechine Tools</a></li>
                        <li><a href="/indus">Marine</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>

    </nav>

    <section class="pumb-banner">
        <div class="pumb-banner-container">
            <div class="pumb-banner-row">

            </div>
        </div>           
    </section>

    <section class="prod1">
        <div class="prod_container">
            <div class="prod1-row">
                <div class="prod1-col1">
                    <div class="product-link">
                        <a href="#" id="hydraulic-link">Hydraulic Pumps</a>
                    </div>
                    <h1 class="heading">PVR1T Variable Displacement Vane Pump</h1>

                    <h3 class="head3">About PVR1T Variable Displacement Vane Pump</h3>
                    <p>The PVR1T variable displacement vane pump is a versatile hydraulic pump suitable for a
                        range of applications. Its variable displacement feature allows for adjustable flow rates,
                        providing flexibility in system operation. With a compact design, it offers high efficiency and
                        reliability in hydraulic systems.
                    </p>
                    <h3 class="head3">Product Offerings</h3>
                    <ul>
                        <li>The PVR1T pump is used to generate hydraulic power for various applications in
                            industries such as automotive, construction, and manufacturing.</li>
                        <li> It features a variable displacement design, allowing for adjustable flow
                            rates to suit different operational requirements.

                        </li>
                        <li>With its compact size, the pump can be easily integrated into hydraulic systems,
                            saving space and facilitating installation.
                        </li>

                    </ul>
                    <h3 class="head3">Why PVR1T Variable Displacement Vane Pump</h3>
                    <p>The PVR1T Variable Displacement Vane Pump is a versatile hydraulic component used in various
                        industrial applications. Its variable displacement feature enables adjustable flow rates,
                        providing
                        flexibility in system operation. </p>
                </div>
                <div class="prod1-col2">
                    <div class="c">
                        <input type="radio" name="a" id="cr-1" checked>
                        <!-- <label for="cr-1" style="--hue: 32"></label> -->
                        <div class="ci" style="--z: 4">
                            <img src="../static/images/hydar2.jpg" alt="Snow on leaves">
                        </div>

                        <input type="radio" name="a" id="cr-2">
                        <!-- <label for="cr-2" style="--hue: 82"></label> -->
                        <div class="ci" style="--z: 3">
                            <img src="../static/images/hydar3.jpg" alt="Trees">
                        </div>

                        <input type="radio" name="a" id="cr-3">
                        <!-- <label for="cr-3" style="--hue: 40"></label> -->
                        <div class="ci" style="--z: 2">
                            <img src="../static/images/hydar4.jpg" alt="Mountains and houses">
                        </div>

                        <input type="radio" name="a" id="cr-4">
                        <!-- <label for="cr-4" style="--hue: 210"></label> -->
                        <div class="ci" style="--z: 1">
                            <img src="../static/images/hydraulic.jpg" alt="Sky and mountains">
                        </div>
                    </div>
                    <div class="btn-container">
                        <a href="/log" class="btn">For Enquire</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/js/prod.js"></script>
</body>

</html>