<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Works</title>
    <link href="../static/css/style1.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="/indexSection"><img src="../static/images/logo1-removebg-preview.png"></a></div>
            <input type="radio" name="slider" id="menu-btn">
            <input type="radio" name="slider" id="close-btn">
            <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li><a href="/index">Home</a></li>
                <li>
                    <a href="/about" class="desktop-item">Company</a>
                    <input type="checkbox" id="showMega">
                    <label for="showMega" class="mobile-item">Company</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="../static/images/compasny-he (1).jpeg"  alt="">
                            </div>
                            <div class="row">
                                <header>Who we are</header>
                                <ul class="mega-links">
                                    <li><a href="/abtStrategy">Strategy & Purpose</a></li>
                                    <li><a href="#">Officers</a></li>
                                    <li><a href="/abtHistory">History</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <header></header>
                                <ul class="mega-links">
                                    <li><a href="/abtProducts">Brands</a></li>
                                    <li><a href="#">Code of Conduct</a></li>
                                    <li><a href="/abtLocation">Global Locations</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <header>Building Better</header>
                                <ul class="mega-links">
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">Innovation</a></li>
                                    <li><a href="#">Foundation</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/pro" class="desktop-item">Products</a>
                    <input type="checkbox" id="showMega">
                    <label for="showMega" class="mobile-item">Products</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">
                                <img src="../static/images/product-head.jpeg" alt="">
                            </div>
                            <div class="row">
                                <!-- <header>Design Services</header> -->
                                <ul class="mega-links">
                                    <li><a href="/product1">Hydraulic Pumps</a></li>
                                    <li><a href="/product2">Valves</a></li>
                                    <li><a href="/product3">Power Packs</a></li>
                                    <li><a href="/product4">Fittings</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <!-- <header>Email Services</header> -->
                                <ul class="mega-links">
                                    <li><a href="/product5">Intersial valves</a></li>
                                    <li><a href="/product6">Control Works</a></li>
                                    <li><a href="/product7">Activation</a></li>
                                    <li><a href="/product8">Directional control</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <!-- <header>Security services</header> -->
                                <ul class="mega-links">
                                    <li><a href="/product9">Throttle valve</a></li>
                                    <li><a href="/product10">PVR1T Variable</a></li>
                                    <li><a href="/product11">HPV43 Double</a></li>
                                    <li><a href="/product12">Cartridge Valve</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/indus" class="desktop-item">Industries</a>
                    <input type="checkbox" id="showDrop">
                    <label for="showDrop" class="mobile-item">Industries</label>
                    <ul class="drop-menu">
                        <li><a href="/indus">Power</a></li>
                        <li><a href="/indus">Steel</a></li>
                        <li><a href="/indus">Plastic</a></li>
                        <li><a href="/indus">Construction</a></li>
                        <li><a href="/indus">Mechine Tools</a></li>
                        <li><a href="/indus">Marine</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>

    </nav>

    <section class="pumb-banner">
        <div class="pumb-banner-container">
            <div class="pumb-banner-row">

            </div>
        </div>           
    </section>

    <section class="prod1">
        <div class="prod_container">
            <div class="prod1-row">
                <div class="prod1-col1">
                    <div class="product-link">
                        <a href="#" id="hydraulic-link">Hydraulic Pumps</a>
                    </div>

                    <h1 class="heading">Control Works</h1>

                    <h3 class="head3">Control Works</h3>
                    <p>Control works, integral to diverse systems, regulate machinery and processes efficiently. They
                        encompass manual, pneumatic, hydraulic, and electrical variants, each tailored for specific
                        applications. Components include valves, actuators, sensors, switches, and controllers, ensuring
                        precise monitoring and adjustment of system parameters. Widely employed across industries like
                        manufacturing and aerospace, they maintain safety and accuracy in operations.
                    </p>
                    <h3 class="head3">Product Offerings</h3>
                    <ul>
                        <li>Control works are used to regulate and manage the operation of machinery, equipment, or
                            processes.</li>
                        <li> They come in various types, including manual, pneumatic, hydraulic, and electrical control
                            systems, each suited for different applications.
                        </li>
                        <li>They come in various types, including manual, pneumatic, hydraulic, and electrical control
                            systems, each suited for different applications.
                        </li>

                    </ul>
                    <h3 class="head3">Why Control Works</h3>
                    <p>Control works, found in various industries, manage machinery and processes, ensuring precision in
                        operations. They encompass manual, pneumatic, hydraulic, and electrical systems, each tailored
                        to
                        specific applications. By regulating parameters like movement, pressure, and temperature, they
                        maintain efficiency and safety.
                    </p>
                </div>
                <div class="prod1-col2">
                    <div class="c">

                        <input type="radio" name="a" id="cr-1" checked>
                        <!-- <label for="cr-1" style="--hue: 32"></label> -->
                        <div class="ci" style="--z: 4">
                            <img src="../static/images/control1.jpg" alt="Snow on leaves">
                        </div>

                        <input type="radio" name="a" id="cr-2">
                        <!-- <label for="cr-2" style="--hue: 82"></label> -->
                        <div class="ci" style="--z: 3">
                            <img src="../static/images/control2.jpg" alt="Trees">
                        </div>

                        <input type="radio" name="a" id="cr-3">
                        <!-- <label for="cr-3" style="--hue: 40"></label> -->
                        <div class="ci" style="--z: 2">
                            <img src="../static/images/control3.webp" alt="Mountains and houses">
                        </div>

                        <input type="radio" name="a" id="cr-4">
                        <!-- <label for="cr-4" style="--hue: 210"></label> -->
                        <div class="ci" style="--z: 1">
                            <img src="../static/images/control4.jpg" alt="Sky and mountains">
                        </div>
                    </div>
                    <div class="btn-container">
                        <a href="/log" class="btn">For Enquire</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/js/prod.js"></script>
</body>

</html>